*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/auction/target/
/auction_v2/target/
/CalculatorService/target/
/CalculatorClient/target/
/auction_client/target/
/auction_client/nbproject/private/
/auction_client/build/
/auction_client/dist/
/Encryption/nbproject/private/
/Encryption/build/
/Encryption/dist/